.container {
  padding: 0 2rem;
}

.mobile_header {
  display: flex;
  justify-content: space-between;
}
.mobile_header h1 {
  font-weight: 500;
}
.desktop_header {
  display: none;
}
.introduction {
  margin-top:5rem;
}
.introduction>h1>span{
  font-size: 1.5rem;
  color:white;
  font-weight: 400;
}
.introduction>h1 {
  color:#c1c1c1ab;
  font-size: 3rem;
  line-height: 3rem;;
}
.introduction h2 {
  color:#eeececac;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
}
.introduction p{
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.introduction button {
  background: transparent;
  border:1px solid #c1c1c1ab;
  color:#eeececac;
  padding:.8rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: .5rem;
  margin-top: 2rem;
  float: right;
}

.about {
  margin-top:15rem;
}
.about h1 span:nth-child(1){
  font-family: 'Fira Code';
  color:var(--darkbrown);
}
.about h1 span:nth-child(2) {
  font-family: 'League Spartan', sans-serif;;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .25rem;
  font-size: 1.2rem;
}
.about p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.about div {
  margin-top: 2rem;;
}
.about div h3 {
  line-height: 1.2rem;
  font-size: 1.2rem;
}
.about div ul {
  padding:0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about div ul li {
  line-height: 1.5rem;
  font-size: 1.05rem;
}


@media screen and (min-width: 1024px) {
  .mobile_header {
    display: none;
  }
  .desktop_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop_header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  .desktop_header ul li {
    margin-right: 1.3rem;
    font-size: 1.2rem;
  }
  .desktop_header ul li:last-child {
    border:1px solid #c1c1c1ab;
    padding:.5rem .8rem;
  }
  .desktop_header ul li a span {
    font-family: 'Fira Code';
    color:var(--darkbrown)
  }
}