.header {
    display: flex;
    padding: .5rem 1rem;
}

.navlist {
    display: grid;
    place-items: center;
    width: 94vw;
}

.navlist ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    background-color: var(--bg-accent);
    border: 1px solid grey;
    margin: 1rem auto 0rem auto;
    border-radius: 1.5rem;
    width: 94vw;
    padding: .5rem 1rem;
}

.navlist ul li {
    font-size: 1.1rem;
    font-weight: 600;
}


.activeLink {
    border-bottom: 2px solid var(--highlight);
}

@media screen and (min-width: 1024px) {


    .navlist {
        width: 100vw;
    }

    .navlist ul {
        padding: .5rem 2rem;
        width: 40vw;
    }

    .navlist ul li {
        font-size: 1.1rem;
    }

    .header ul li:nth-child(3) {
        margin-right: 2rem;
    }
}